<div class="cv_top">
  <div class="cv">
    <div class="cv_head">
      <div class="about">
        <div class="main_about">
          <h1 class="name">Подолян Влад</h1>
          <h4 class="student">Ruby on Rails student</h4>
          <p></p>
          <h5 class="student">Возраст: 22</h5>
        </div>
        <div class="contacts">
          <a href="mailto:vredbi123@gmail.com">vredbi123@gmail.com</a>
          <br>
          <a href="tel:+380671996773">+380671996773</a>
          <br>
          <a href= "https://www.google.com/maps?channel=fs&client=ubuntu&q=cherkasy&um=1&ie=UTF-8&sa=X&ved=2ahUKEwj5mr7viYX1AhUMy4sKHaRBB1YQ_AUoAXoECAEQAw">Cherkasy, Ukraine </a>
        </div>
      </div>
     <div class="photo_main">
        <img src="https://www.meme-arsenal.com/memes/19eca71cf009f2432a9f3249f9f4b0f3.jpg" alt="Photo" class="photo">
      </div>
    </div>
    <div class="footer">
      <div class="info">
        <h3 class="info_first">Опыт в программировании:</h3>
        <p class="info_secondary">Отсутствует</p>
      </div>
      <div class="info">
        <h3 class="info_first">Образование:</h3>
        <p class="info_secondary">"Черкасский Державный бизнес колледж 2017-2021(Комп. инженерия)"</p>
      </div>
      <div class="info">
        <h3 class="info_first">Языки:</h3>
        <ul class="info_secondary">
          <li>Украинский</li>
          <li>Русский</li>
          <li>Английский</li>
        </ul>
      </div>
      <div class="info">
        <h3 class="info_first">Хобби:</h3>
        <ul class="info_secondary">
          <li>  Смотрю фильмы и сериалы</li>
          <li>  Читаю книги и комиксы</li>
          <li>  Играю в игры</li>
          <li>  Слушаю музыку</li>
        </ul>
      </div>
    </div>
  </div>
</div>
